footer.footer
  .footer__wrapper
    .footer__main
      each section in footer.data.body
        if section.slice_type == 'ad'
          .footer__ad
            .footer__ad__wrapper
              .footer__ad__content!=PrismicDOM.asHTML(section.primary.content)
              .footer__ad__link
                a(href=section.primary.link.url)=section.primary.label
        if section.slice_type == 'column_link'
          ul.footer__column__links
            each item in section.items
              li.footer__column__links__item
                if item.link.target != ''
                  a.footer__column__links__item__link(target=item.link.target href=item.link.url)=item.label
                else
                  a.footer__column__links__item__link(href=item.link.url data-router)=item.label
    .footer__identity
      figure.footer__identity__logo
        img.footer__identity__logo__img(alt=footer.data.logo.alt data-src=footer.data.logo.url)
      .footer__identity__copyright=footer.data.copyrights
