nav.navigation 
  .navigation__wrapper 
    span.navigation__time

    a.navigation__logo__wrapper(data-router href='/' alt='home')
      figure.navigation__logo
        img.navigation__logo__img(alt=navigation.data.logo.alt data-src=navigation.data.logo.url)

    span.navigation__menu__icon MENU

    .navigation__menu
      .navigation__menu__wrapper
        span.navigation__menu__close__icon FECHAR

        span.navigation__menu__copyright=navigation.data.copyright
        each link in navigation.data.body
          if link.slice_type == 'navigation_link'
            ul.navigation__list__internal
              each item in link.items
                li.navigation__list__internal__item
                  a(href=item.link data-router)=item.label
          if link.slice_type == 'external_link'
            ul.navigation__list__external
              each item in link.items
                li.navigation__list__external__item
                  a(href=item.link)=item.label